{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title> {% block title %} {% endblock %} </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        {% block styles %} {% include "interact/includes/styles.html" %} {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light" id="navigation">
            <a class="navbar-brand">Interact</a> 
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "interact:main" %}">Main</a>
                </li>
                <li class="nav-item>">
                    <a class="nav-link" href="{% url "interact:parse" %}">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "interact:extract" %}">Retrieve</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "interact:release" %}">Release</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "interact:files" %}">Files</a>
                </li>
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" id="admin-link" href="{% url 'admin:index' %}">Admin</a>
                    </li>
                {% endif %}
            </ul>
            <div class="container d-flex flex-row-reverse">
                {% if user.is_authenticated%}
                    <div class="row">
                        <p class="col d-flex flex-row-reverse" id="login-user">
                                Logged in as: {{ user.username }}
                        </p>
                        <form method="POST" action="{% url "interact:logout" %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger" type="submit"> Log out</button>
                        </form>
                    </div>
                {% else %}
                    <a href="{% url "interact:login" %}"> 
                        <button class="btn btn-outline-success" type="submit"> Log in</button>
                    </a>
                {% endif %}
            </div>

        </nav>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    {% block scripts %} {% include "interact/includes/scripts.html" %} {% endblock %}
    </body>
</html>