{% extends "interact/base.html" %}

{% block title %} Retrieve the configurations {% endblock %}

{% block content %}
    <div class="header-form">
        <h1> Retrieve the configurations from the database. </h1>
    </div>

    {% include "interact/includes/forms/extract_form.html" with form=form %}
    
    {%if not version_exists %}
        <div class="alert alert-warning" role="alert">
            <p>
                You have not provided a version or the provided version does not exist.
            </p>
        </div>
    {% endif %}
    
    {% if versions is not None%}
        <div>
            <table class="table">
                <thead>
                    <tr>
                        {% for col in versions.columns %}
                            <th scope="col"> {{ col }} </th>
                        {% endfor %}
                    <tr>
                </thead>
                <tbody>
                    {% for index, row in versions.iterrows %}
                        <tr>
                        {% for item in row %}
                            <td> {{ item }} </td>
                        {% endfor %}
                            <td>
                                <button type="button" class="btn btn-success btn-sm">
                                    <span class="oi oi-data-transfer-download"></span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

    {% endif %}

{% endblock %}
