{% extends "interact/base.html" %}

{% block title %} Retrieve the configurations {% endblock %}

{% block content %}
    <div class="header-form">
        <h1> Retrieve the configurations from the database. </h1>
    </div>

    {% include "interact/includes/forms/extract_form.html" with form=form %}
    
    {%if version_exists is False %}
        <div class="alert alert-warning" role="alert">
            <p>
                You have not provided a version or the provided version does not exist.
            </p>
        </div>
    {% endif %}
    
    {% if versions is not None%}
        <div>
            <table class="table">
                <thead>
                    <tr>
                        {% for col in versions.columns %}
                            <th scope="col"> {{ col }} </th>
                        {% endfor %}
                    <tr>
                </thead>
                <tbody>
                    {% for index, row in versions.iterrows %}
                        <tr>
                        {% for item in row %}
                            <td> {{ item }} </td>
                        {% endfor %}
                            <td>
                                <form action={% url "interact:download" %} method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="valid_from" value="{{row.0}}">
                                    <input type="hidden" name="valid_to" value="{{row.1}}">
                                    <input type="hidden" name="version" value="{{row.2}}">
                                    <button type="submit" class="btn btn-success btn-sm">
                                        <span class="oi oi-data-transfer-download"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

    {% endif %}

{% endblock %}
