{% extends "interact/base.html"%}

{% block title %} Add a Release {% endblock %}

{% block content %}

    <div class="header-form">
        <h1> Add a release to the database. </h1>
    </div>

    {% if saved is True %}
        <div class="alert alert-success" role="alert">
            The release has been successfully saved.
        </div>
    {% endif %}
    
    {% include "interact/includes/forms/release_form.html" with form=release_form %}

    <div class="header-form">
        <h3> Releases </h3>
    </div>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th> name </th>
                    <th> comment </th>
                </tr>
            </thead>
            <tbody>
                {% for release in page_obj %}
                    <tr>
                        <td> {{ release.name|truncatewords:30 }} </td>
                        <td> {{ release.comment|truncatewords:30|linebreaks }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "interact/includes/pagination.html" with page=page_obj %}

{% endblock %}

